@model CrmMahata.Models.ServicePlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServicePlan</h4>
    <hr />
    <div class="row justify-content-center">
        <dl class="col-sm-12 col-md-8">
            <div class="row">
                <dt class="col-sm-2">
                    Name:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-2">
                    Duration:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Duration)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-2">
                    Price:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </div>
        </dl>
    </div>
    <hr />
    <h5>Account</h5>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of Account</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>TIN</th>
                            <th>CertKey</th>
                            <th>Business Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Website</th>
                            <th>Status</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Accounts)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Certkey)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BusinessName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WebSite)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
