@model MahataCrm.Models.Receipt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @if (!@Model.isPost)
    {
        <a asp-action="PostReceipt" asp-route-id="@Model?.Id" class="btn btn-primary">Post Receipt</a>
    }
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    Receipt Number:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RctNum)
                </dd>
                <dt class="col-sm-4">
                    Z Number:
                </dt>
                @if (!@Model.isPost)
                {
                    <dd class="col-sm-8">------</dd>
                }
                else
                {
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Znum)
                    </dd>
                }
                
                <dt class="col-sm-4">
                    Receipt Date:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RctDate)
                </dd>
                <dt class="col-sm-4">
                    Total Tax:
                </dt>
                @if (!@Model.isPost)
                {
                    <dd class="col-sm-8">------</dd>
                }
                else
                {
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TotalTax)
                    </dd>
                }
                <dt class="col-sm-4">
                    Total Tax Exclude:
                </dt>
                @if (!@Model.isPost)
                {
                    <dd class="col-sm-8">------</dd>
                }
                else
                {
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TotalTaxExcl)
                    </dd>
                }
                
                <dt class="col-sm-4">
                    Total Tax Include:
                </dt>
                @if (!@Model.isPost)
                {
                    <dd class="col-sm-8">------</dd>
                }
                else
                {
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TotalTaxIncl)
                    </dd>
                }
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    Payment Type:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PaymentType)
                </dd>
                <dt class="col-sm-4">
                    Customer Name:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CustName)
                </dd>
                <dt class="col-sm-4">
                    Customer Id Type:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CustIdType)
                </dd>
                <dt class="col-sm-4">
                    Customer Id:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CustId)
                </dd>
            </dl>
        </div>
    </div>
</div>
<hr />
<h5>Receipt Item</h5>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List Receipt Items</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Tax</th>
                        <th>Tax Code</th>
                        <th>Discount Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ReceiptItems)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tax)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaxCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiscountAmount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a href="@Url.Action("DownloadInvoice", "Receipts", new { id = @Model?.Id })" class="btn btn-primary">Print</a> |
    @if (!@Model.isPost)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
