@model CrmMahata.Models.Account

@{
    ViewData["Title"] = "Details";
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @successMessage
    </div>
}

<h1>Details</h1>
<div>
    <h4>Account</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    TIN:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Tin)
                </dd>
                <dt class="col-sm-4">
                    CertKey:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Certkey)
                </dd>
                <dt class="col-sm-4">
                    Bussinness Name:
                </dt>
                <dd class="col-sm-8">
                    @Model.BusinessName.ToUpper()
                </dd>
                <dt class="col-sm-4">
                    Address:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-4">
                    Phone:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-4">
                    RegId:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RegId)
                </dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    Email:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    WebSite:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.WebSite)
                </dd>
                <dt class="col-sm-4">
                    Status:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-4">
                    Service Plan:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ServicePlan.Name)
                </dd>
                <dt class="col-sm-4">
                    UIN:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Uin)
                </dd>
                <dt class="col-sm-4">
                    Serial:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Serial)
                </dd>
                <dt class="col-sm-4">
            </dl>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">subscription history</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Service Plan
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewData["souscriptions"] as List<Souscription>)
                    {
                        var endDate = item.DateSouscription.AddDays(item.ServicePlan.Duration);
                        <tr>
                            <td>
                                @item.DateSouscription
                            </td>
                            <td>
                                @endDate
                            </td>
                            <td>
                                @item.ServicePlan.Name
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
