@model CrmMahata.Models.Account

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Account</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IdAcc)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IdAcc)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BusinessName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BusinessName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.WebSite)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.WebSite)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ServicePlan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ServicePlan.Name)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
