@model CrmMahata.Models.Account

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Account</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    TIN:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Tin)
                </dd>
                <dt class="col-sm-4">
                    CertKey:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Certkey)
                </dd>
                <dt class="col-sm-4">
                    Bussinness Name:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BusinessName)
                </dd>
                <dt class="col-sm-4">
                    Address:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-4">
                    Phone:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-4">
                    RegId:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RegId)
                </dd>
                <dt class="col-sm-4">
                    City:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.City)
                </dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    Email:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    WebSite:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.WebSite)
                </dd>
                <dt class="col-sm-4">
                    Status:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-4">
                    Service Plan:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ServicePlan.Name)
                </dd>
                <dt class="col-sm-4">
                    UIN:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Uin)
                </dd>
                <dt class="col-sm-4">
                    Serial:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Serial)
                </dd>
                <dt class="col-sm-4">
                    Country:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Country)
                </dd>
                <dt class="col-sm-4">
                    GC:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Gc)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
