@model IEnumerable<CrmMahata.Models.Account>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Operator> SignInManager
@inject UserManager<Operator> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Account</h1>
<hr/>
@if (!User.IsInRole("Auditor"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">New Account</a>
    </p>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of Account</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            TIN
                        </th>
                        <th>
                            Business Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            CertKey
                        </th>
                        <th>
                            Tax Office
                        </th>
                        @if (!User.IsInRole("Auditor"))
                        {
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Block</th>
                            <th>Details</th>
                            <th>Assign S.P.</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string bName = item.BusinessName.ToUpper();
                        string taxOffice = item.TaxOffice.ToUpper();
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tin)
                            </td>
                            <td>
                                @bName
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Certkey)
                            </td>
                            <td>
                                @taxOffice
                            </td>
                            @if (!User.IsInRole("Auditor"))
                            {
                                <td>
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-fw fa-pencil-alt"></i></a>
                                </td>
                                <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-fw fa-trash-alt"></i></a></td>
                                <td>
                                    @if (item.Status == 0)
                                    {
                                        <a class="btn btn-success" asp-action="Block" asp-route-id="@item.Id"><i class="fas fa-fw fa-ban"></i></a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success" asp-action="Block" asp-route-id="@item.Id"><i class="fas fa-fw fa-lock"></i></a>
                                    }

                                </td>
                                <td><a asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                                <td><a asp-action="AssignSP" asp-route-id="@item.Id">Assign</a></td>
                            }   
                        </tr>
                    }
                </tbody>
                
            </table>
        </div>
    </div>
</div>
